<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/style.css">
        <script src="/js/app.js"></script>
    </head>
    <body>
        <p>{{>header}}</p>
        <p>{{errorMsg}}</p>
        <p>Created by{{>footer}}</p>
    </body>
</html>