<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <p>{{>header}}</p>
        <form>
          <input type="text" placeholder="Enter Location">
          <button>Search</button>
        </form>

        <p id="m1"></p>
        <p id="m2"></p>
        <p>{{>footer}}</p>

        <script src="/js/app.js"></script>
    </body>
</html>